/*

 __    __   _______  __       __        ______   
|  |  |  | |   ____||  |     |  |      /  __  \  
|  |__|  | |  |__   |  |     |  |     |  |  |  | 
|   __   | |   __|  |  |     |  |     |  |  |  | 
|  |  |  | |  |____ |  `----.|  `----.|  `--'  | 
|__|  |__| |_______||_______||_______| \______/                                                  

Hey, thanks for looking at the code for this website. If you could share this with your friends that would be cool. KTHXBYE

*/

@font-face {
  font-family: OpenSans;
  src: url(Resources/OpenSans-Regular.ttf);
}

body {
  background-color: #282a36;
  margin: 0;
}

#banner {
  /* background: #007f95; */
  background: #ff5c57;
  margin-bottom: 2%;
}

.banner__content {
  padding: 16px;
  max-width: 75%;
  margin: 0 auto;
  display: flex;
  text-align: center;
}

.banner__text {
  flex-grow: 1;
  line-height: 1.4;
  font-family: "Quicksand", sans-serif;
}

.banner__close {
  background: none;
  border: none;
  cursor: pointer;
}

.banner__text,
.banner__close>span {
  color: #f1f1f0;
}

nav {
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  display: inline-flex;
}

nav ul li a {
  font-family: OpenSans;
  font-size: 20px;
  font-weight: bold;
  display: block;
  color: #f3f99d;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  transition: 0.2s;
}

nav ul li a:hover {
  color: #f1f1f0;
}

.headertext {
  text-align: center;
  font-family: OpenSans;
}

.titletext {
  display: inline-flex;
}

h1 {
  font-size: 48px;
  color: #57c7ff;
}

.lpmsimage {
  margin-left: 15px;
  align-self: center;
}

h2 {
  font-size: 36px;
  background: linear-gradient(to right, #7474bf, #348ac7);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

h2 a {
  background: linear-gradient(to right, #f1f1f0, #f1f1f0);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

h2 a:hover {
  background: linear-gradient(to right, #9aedfe, #9aedfe);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

a {
  color: #f1f1f0;
  transition: 0.2s;
}

a:hover {
  color: #9aedfe;
}

h3 {
  font-size: 24px;
  color: #5af78e;
}

.homebuttons {
  align-content: center;
  margin-top: 5%;
  margin-left: 30%;
}

.button {
  display: inline-block;
  position: relative;
  margin-right: 10%;
  width: 20%;
  height: 15%;
  border: none;
  border-radius: 10px;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  font-family: OpenSans;
  font-size: 30px;
  font-weight: bold;
  background-color: #282a36;
  color: #ff6ac1;
  border-color: #282a36;
  transition: 0.3s;
}

.button:hover {
  background-color: #ff6ac1;
  color: #f1f1f0;
}

footer {
  margin-top: 5%;
}

.footertext {
  color: #ff5c57;
  font-family: OpenSans;
}

ol li {
  text-align: left;
  font-size: 24px;
  color: #5af78e;
}

.letteredlist {
  list-style-type: lower-alpha;
}

.howtoimage {
  display: flex;
  justify-content: center;
}

.chattitle {
  font-size: 48px;
  color: #57c7ff;
  text-align: center;
}

.chat {
  margin-left: 1%;
}

h5 {
  font-size: 24px;
  color: #5af78e;
  font-family: OpenSans;
  text-align: center;
}

.gamerow {
  display: inline-flex;
  list-style-type: none;
}

.gamerow li {
  margin-right: 5px;
}

.gamerow li:first-child {
  margin-left: 5%;
}

.linktext {
  transition: 0.3s;
}

.linktext:hover {
  color: #f1f1f0;
}

.romrow {
  display: inline-flex;
  list-style-type: none;
}

.romrow li {
  margin-right: 5px;
}

.romrow li:first-child {
  margin-left: 3px;
}

#howtobutton {
  margin-right: 40%;
}

ul li {
  text-align: left;
  font-size: 24px;
  color: #5af78e;
}

ul li a {
  color: #5af78e;
}

.caterpillar {
  display: flex;
  justify-content: center;
}